{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<h1>All Rooms List</h1>

{% for room in rooms %}
    <div>
        <h2>{{ room.room_type }} Room</h2>
        <p><strong>Hotel:</strong> {{ room.hotel_id.first_name }} {{ room.hotel_id.last_name }}</p>
        <p><strong>Price per Night:</strong> ${{ room.price_per_night }}</p>
        <p><strong>Capacity:</strong> {{ room.capacity }} person(s)</p>
        <p><strong>Available Rooms:</strong> {{ room.quantity }}</p>
        {% if room.description %}
            <p><strong>Description:</strong> {{ room.description }}</p>
        {% endif %}
        <hr>
    </div>
{% empty %}
    <p>No rooms available</p>
{% endfor %}

{% endblock content %}