{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/hotel-forms.css' %}">
{% endblock %}

{% block content %}

<div class="form-box">
    <h1>Add New Service</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="button-row">
            <a href="{% url 'hotel_admin_panel' %}" class="button cancel-button">Cancel</a>
            <button type="submit" class="button edit-button">Add Service</button>
        </div>
    </form>
</div>

{% endblock content %}