{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/hotel-sign.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <h2>Hotel Sign In</h2>
    
    {% if error %}
        <div class="error-list">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        {% if form %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-list">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        
        <button type="submit" class="button-submit">Sign In</button>
        
        <div class="form-links">
            <p><a href="{% url 'hotel_sign_up' %}">Don't have an account? Register Hotel</a></p>
        </div>
    </form>
</div>

{% endblock content %}


